*{
    margin: 0;
    padding: 0;
    user-select: none;
    
}
body{
    min-height: 100vh;
}
.heading{
    letter-spacing: 5px;
}

h1{
    letter-spacing: 3px;
}

p{
    font-size: 20px;
  
}

footer{
   
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

#lastUpdated{
    font-size: 20px;
}

.rotation{
    animation: rotate 8s linear infinite;
    animation-direction: alternate;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}