*{
    margin: 0;
    padding: 0;
    user-select: none;
    
}
body{
    min-height: 100vh;
}
.heading{
    letter-spacing: 5px;
}

h1{
    letter-spacing: 3px;
}

p{
    font-size: 20px;
  
}

footer{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}